 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto Slab', serif;
    }

    html {
        font-size: 62.5%;
    }

    p {
        font-size: 1.3rem;
    }

    body {
        position: relative;
    }

    div::after {
        content: "";
        background: url("./bg.jpg") no-repeat center center;
        background-size: cover;
        opacity: 0.02;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

    .body-wrap {
        justify-content: center;
        align-items: center;
        display: flex;
        height: 100vh;
    }

    .inner-content {
        background-color: #e1f5fe;
        border-bottom: 5px solid #b3e5fc;
        box-shadow: 0px 0px 179px -32px rgba(0, 0, 0, 0.75);
        padding: 4rem 6.5rem;
        width: 60rem;
        text-align: center;
    }

    .title {
        font-size: 3rem;
        font-weight: 700;
    }

    .fav-display {
        height: 15rem;
        margin-bottom: 3rem;
    }

    .animal {
        font-family: 'Monoton', cursive;
        font-size: 7rem;
        padding-bottom: 1rem;
        color: #29b6fc;
    }

    .animal--modified {
        padding-top: 2rem;
        color: #ffa502;
        font-size: 5rem;
    }

    .animal-sub {
        /* font-size: 1.6rem;
        font-weight: normal; */
    }

    .holder {
        font-size: 1.6rem;
        padding-top: 9rem;
        font-style: italic;
    }

    .fav-input {
        height: 5rem;
        width: 25rem;
        border: 0;
        padding: 0;
        padding-left: 3rem;
        font-size: 1.4rem;
    }

    .fav-form {
        position: relative;
        margin: 0 7rem;
    }

    .fas {
        position: absolute;
        left: 5%;
        top: 50%;
        transform: translateY(-50%)
    }

    .fav-input:focus {
        outline: 0;
    }

    .favBtn {
        background-color: #304ffe;
        border: 0;
        color: #ffffff;
        padding: 1.6rem;
        cursor: pointer;
    }

    .fav-form {
        margin-top: 2rem;
    }

    .fav-label {
        text-align: left;
        margin: 0 7rem;
        padding: .5rem .5rem;
        display: block;
        font-size: 1.2rem;
        display: none;
        color: crimson;
    }

    @media screen and (max-width: 48rem) {
        .inner-content {
            margin: 0 1rem;
            padding: 3rem 0 5rem;
        }

        .favBtn {
            display: block;
            width: 100%;
            font-size: 1.5rem;
        }

        .fav-input {
            width: 100%;
        }

        .fas {
            top: 25%;
        }
   